body{
    background-color: #AEE2FF;
}
hr{
    border-style: dotted;
    border-left: none;
    border-right: none;
    border-bottom: none;
    color: #A61F69;
    width: 50%;
    border-top-width: 7px;
}
table{
    padding: 15px;
    background-color: rgb(124, 209, 255);
    width: 100%;
    border: 1px solid;
   
}
tr:nth-child(even){
background-color: rgb(103, 202, 255);
}
ol{
   list-style-type: lower-alpha;
   border: 1px solid;
}
ul{
   background-color:rgb(124, 209, 255) ;
   list-style-type: square;
   border: 1px solid;
}
ul li{
   background-color: rgb(65, 185, 250);
}